body {
  background-color: #f3f3f3;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  
}

img {
  width: 80%;
  margin: 2% auto;
  position: relative;
}

.column {
  width: 70%;
  margin: 40px auto;
}

h1 {
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0px 0px 15px #008064ab;
}

h1, h2 {
    text-shadow: 0px 0px 15px #008064ab;
}