body {
  background-color: #3ec2accb;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  
}

img {
  width: 80%;
  margin: 2% auto;
  position: relative;
}

.column {
  width: 70%;
  margin: 0px auto;
  border-radius: 20px;
  background-color: ivory;
  padding: 1px 40px 40px 40px;
}

h1 {
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, h2 {
    color: #008064ab;
    text-shadow: 0px 0px 15px #008064ab;
}
