body {
    background-color: red ;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 80%;
    margin: 2% auto;
    position: relative;
}

.column {
    width: 70%;
    margin: 40px auto;
}